.DS_Store
*.swp
*.swo
*.orig
.idea
ext/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Testing
coverage
test/tmp
.nyc_output
.docs-site

# Users Environment Variables
.lock-wscript

# Generated package outputs
/dist/
/packages/*/dist/
/src/version.js
